Flask==1.1.2 
Flask-Cors==3.0.9 
Flask-RESTful==0.3.7 
gunicorn==20.0.4 
joblib==0.13.2 
jsonschema==2.6.0 
pandas 
pickleshare==0.7.5
requests==2.23.0 
requests-file==1.4.3 
scikit-learn 
scipy 
wcwidth==0.1.7 
webencodings==0.5.1
Werkzeug==1.0.1
uvicorn==0.13.4
uvloop
httptools==0.2.0
xlrd==1.2.0
